* {
    margin:0;
    padding: 0;
}

.root{
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
}

.left{
    flex:5
}

.leftWrapper{
    display: flex;
    flex-direction: column;
    
    align-content: center;
}

.right{
    flex:5
}